.content-editPass{
    display: flex;
    flex-direction: column;
    
}

.content-edit, .content-editPass {
    border: 1px solid #eeeeee;
    margin-top: 50px;
    padding: 20px;
    width: 795px;
}
.btn-update, .btn-salvar{
    display: block;
    width: 80px;
    border: 1px solid;
    background-color: #399799;
    border: 1px solid #399799;
    border-radius: 5px;
    color: #fff;
}
.input-nome, .input-sobrenome,.pass{
    width: 360px;
}
.input-email{
    width: 97%;
}
.form-update{
    padding-top: 25px;
}
.header-editfields{
    margin-top: 30px;
    color: #999999;
}